body{
    background-color: #fafafa;
}
.form-control{
    background-color: rgb(0 0 0 / 20%);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
#meal-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
.spacing{
    border: 5px solid #502525;
    box-shadow: 0px 5px 7px #949494;
    margin: 10px;
    padding: 5px;
    margin-bottom: 15px;
}
img{
   max-width: 20%; 
}
